* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}

/* Slick Carousel Styles - Minimal overrides to ensure proper display */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  display: block;
  height: 100%;
  min-height: 1px;
}

.slick-slide.slick-active {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

/* Arrow styles */
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
}

.slick-arrow:before {
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-arrow:hover:before,
.slick-arrow:focus:before {
  opacity: 1;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-disabled {
  opacity: 0.25;
  cursor: default;
}

